/* define map position */

      html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width:  100%;
      }
    
/* create padding*/
    #sidebar {
      z-index: 99;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: grey;
      width: 320px;
      font-family:"Times New Roman";
    }

/*sidebar text*/
  
    #text {
      color: white;
      padding: 3%;
    }
        
}