/* define map position */

      html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width:  100%;
      }
    
/* create padding*/
    #sidebar {
      z-index: 99;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: grey;
      width: 320px;
    }


/*define floater*/
#floater{
  position:absolute;
  z-index:450;
  top:0px;
  right:5px;
  color: black;
  background-color:steelblue;
  font-family:"Bookman Old Style";
  text-align: center;
  font-size:24px;
  padding:3px;
  border-radius:6px;
}

/*define floater*/
#floater2{
  position:absolute;
  z-index:450;
  bottom:5px;
  right:35px;
  color: black;
  background-color:steelblue;
  font-family:"Bookman Old Style";
  text-align: center;
  font-size:12px;
  padding:3px;
  border-radius:6px;
}

/*define floater*/
#floater3{
  position:absolute;
  z-index:450;
  top: 70px; 
  right:5px;
  color: black;
  background-color:steelblue;
  font-family:"Bookman Old Style";
  text-align: left;
  font-size:12px;
  padding:3px;
  border-radius:6px;
}